:root {
    --background-tabbar: #eee;
    --background-tabhover: #e8e8e8;
    --background-tabactive: #e0e0e0;
    --border-tabs: #bbb;
}

html {
    height: 100%;
    width: 100%;
}

.tabbar {
    border: 1px solid var(--border-tabs);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-tabbar);
}

.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.25em 0.9em;
    font-size: 16px;
    background-color: var(--background-tabbar);
}

.tablink.push {
    margin-left: auto;
}

.tablink:hover, tablink:focus {
    background-color: var(--background-tabhover);
}

.tablink.active {
    background-color: var(--background-tabactive);
}

.tabcontent {
    padding: 0.5em 1em;
    border: 1px solid var(--border-tabs);
    border-top: none;
    display: none;
}

.tabcontent.active {
    height: 100%;
    display: block;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}