<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Game {{ id }} - {{ player.name |e}} | Mafia Game Simulator</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/mafia.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {% if mod %}
    <nav class="navbar">
        <a href="/game/{{id}}/mod">Overview</a>
        {% for p in game.players %}
        <a  {% if p.id == player.id %} class="active" {% endif %}
            href="/game/{{id}}/mod/player/{{p.name |urlencode}}">{{ p.name |e}}</a>
        {% endfor %}
    </nav>
    {% endif %}
    
    <h1>{{ player.name |e}} &ndash; {{player|role}}</h1>

    <h2>Actions</h2>
    <div id="actions">
        <table id="action-list">
            <tr>
                <th></th>
                <th>Action</th>
                <th>Description</th>
            </tr>
            {% for action in player.actions %}
            <tr>
                <td><input type="radio" name="action" id="action-{{action.id|s|e}}" value="{{action.id|e}}"></td>
                <td><label for="action-{{action.id|s|e}}">{{ action.id |e}}</label></td>
            </tr>
            {% endfor %}
        </table>
        <table id="player-list">
            <tr>
                <th></th>
                <th>Player</th>
            </tr>
            {% for p in game.players %}
            <tr>
                <td><input type="radio" name="player" id="player-{{p.id|s|e}}" value="{{p.id|e}}"></td>
                <td><label for="player-{{p.id|s|e}}">{{ p.name |e}}</label></td>
            </tr>
        </table>
    </div>
</body>

<script src="/static/script.js"></script>

</html>