<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Game {{ id }} - {{ player.name |e}} | Mafia Game Simulator</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/mafia.css" rel="stylesheet" type="text/css" />
</head>
<body>
    {% if mod %}
    <nav class="navbar">
        <a href="/game/{{id}}/mod">Overview</a>
        {% for p in game.players %}
        <a  {% if p.id == player.id %} class="active" {% endif %}
            href="/game/{{id}}/mod/player/{{p.name |urlencode}}">{{ p.name |e}}</a>
        {% endfor %}
    </nav>
    {% endif %}
    
    <h1>{{ player.name |e}} &ndash; {{player|role}}</h1>

    <h2>Actions</h2>
    <div class="actions">
        {% for action in player.actions %}
        <input type="radio" name="action" id="action-{{action.id}}" value="{{action.id}}">
        {# WARNING: do not allow arbitrary ability descriptions without remembering to sanitize the input. #}
        <label for="action-{{action.id}}">{{ action.id |e}} &ndash; {{action.description|safe}}</label>
        {% else %}
        <p>No actions available.</p>
        {% endfor %}
    </div>
</body>

<script src="/static/script.js"></script>

</html>