<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Game {{ id }} - Overview | Mafia Game Simulator</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/mafia.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <input type="hidden" name="modtoken" value="{{ modtoken |e}}">
    
    <h1>Game #{{data.game_id}}: {{data.phase | title}} {{data.day_no}}</h1>

    <h2>Players</h2>
    <ul>
        {% for player in data.players %}
        {% if player.is_alive %}
        <li>{{ player.name |e}} &ndash; {{player.role_name_html|safe}}</li>
        {% else %}
        <li><s>{{ player.name |e}} &ndash; {{player.role_name_html|safe}}</s></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h2>Chats</h2>
    <ul>
        {% for chat in data.chats %}
        <li>{{ chat.id |e}} ({{ chat.message_count }} messages)</li>
        {% endfor %}
    </ul>
    
</body>

<script src="/static/script.js"></script>

</html>