<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Game {{ id }} - Overview | Mafia Game Simulator</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/mafia.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {% if mod %}
    <nav class="navbar">
        <a class="active" href="/game/{{id}}/mod">Overview</a>
        {% for player in game.players %}
        <a href="/game/{{id}}/mod/player/{{player.name |e|urlencode}}">{{ player.name |e}}</a>
        {% endfor %}
    </nav>
    {% endif %}
    
    <h1>Game</h1>
    {% for player in game.players %}
    <p>{{ player.name |e}} &ndash; {{player|role}} </span></p>
    {% endfor %}
</body>

<script src="/static/script.js"></script>

</html>