<!DOCTYPE html>
<html lang="en-US">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mafia Game Simulator</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/mafia.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <h1>Mafia Game Simulator</h1>
    <button onclick="newGame()">Start New Game</button>
</body>

<script src="/static/script.js"></script>
<script src="/static/index.html.js"></script>

</html>